spring4shell-terraform-setup/.terraform.lock.hcl
spring4shell-terraform-setup/terraform.tfstate
spring4shell-terraform-setup/.terraform
c2-lab-setup/.terraform.lock.hcl
c2-lab-setup/terraform.tfstate
c2-lab-setup/.terraform
c2-server/terraform.lock.hcl
c2-server/terraform.tfstate
c2-server/.terraform
